@page
@model Presentacion.Pages.CrudAdministradorCompra.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>AdministradorCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.CodigoEmpleado" class="control-label"></label>
                <input asp-for="AdministradorCompra.CodigoEmpleado" class="form-control" />
                <span asp-validation-for="AdministradorCompra.CodigoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.Sucursal" class="control-label"></label>
                <input asp-for="AdministradorCompra.Sucursal" class="form-control" />
                <span asp-validation-for="AdministradorCompra.Sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.Usuario" class="control-label"></label>
                <input asp-for="AdministradorCompra.Usuario" class="form-control" />
                <span asp-validation-for="AdministradorCompra.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.Contraseña" class="control-label"></label>
                <input asp-for="AdministradorCompra.Contraseña" class="form-control" />
                <span asp-validation-for="AdministradorCompra.Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.Nombres" class="control-label"></label>
                <input asp-for="AdministradorCompra.Nombres" class="form-control" />
                <span asp-validation-for="AdministradorCompra.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.Apellidos" class="control-label"></label>
                <input asp-for="AdministradorCompra.Apellidos" class="form-control" />
                <span asp-validation-for="AdministradorCompra.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.TipoDocumento" class="control-label"></label>
                <input asp-for="AdministradorCompra.TipoDocumento" class="form-control" />
                <span asp-validation-for="AdministradorCompra.TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministradorCompra.NumeroDocumento" class="control-label"></label>
                <input asp-for="AdministradorCompra.NumeroDocumento" class="form-control" />
                <span asp-validation-for="AdministradorCompra.NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
