/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  display: block;
  padding: 20 px 5px;
}
ul{
  list-style: none;
  
}
*{
  padding: 0px;
  margin: 0px;
}
/* Provide sufficient contrast against white background */
a {

  padding: 20 px 5px;
  color: #000000;

}
a:hover{
  background-color:rgb(250, 236, 34);
  color: black;
}



label{
  
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #000000;
}

label2{
  color: #000000;
  background-color: #ffffff;
}
.colorText {
  color: #000000;
}

.menu{
  color:rgb(0, 0, 0);
 

}


.contenedor{

  width: 100%;
  padding: 20px;


}
.post{
 
  margin-left: 30%;
  margin-right: 40%;

}
.fondodellaes{
  background-color: #ffffff;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto_ede{
  color: #000000;
}
.box {
  background-image: linear-gradient( yellow, orange);
}
.button_login{
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color:#ffffff ;
  font-size: 20px;
  width: 30%;
  
}

.row1 {
  background: white;
  width: 25%;
  margin-bottom: 1rem;
}
table{
  border-color: #000000;
  background-color:#ffffff;

}

.fondoarriba {
  background-color: #000000;

}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  border-color: #ffffff;
}
input[type="checkbox"]
{
  display: none; 

}

hr{
  border-top:none ;
}

nav {
  background-color: #ffffff;
  width: 230px;
  height: 100%;
  left: -230px;
  position:absolute;
  transition: all .5s;
}
input[type="checkbox"]:checked ~ nav{
  transform: translateX(230px);
} 
ul{
  
  top: 60px;
position: absolute;
width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #000000;
}
.border-bottom {
  border-bottom: 1px solid #000000; 
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgb(255, 255, 255); /* sombreado*/
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 120%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}