@page
@model IndexModel
@{
    ViewData["Title"] = "EXITO";
}

<div class="text-center">
    <img id="exito" src="~/img/exito.png" width="500" height="500">
    
    <h1 class="display-4 texto_ede"> <b> BIENVENIDO</b></h1>

</div>
