@page
@model Presentacion.Pages.LoginModel
@{
}
<form method="post">
<body>
 <form class="formulario">
     <h1>Iniciar sesión</h1>
     <img id="user" src="~/img/user1.png" width="300" height="300">
     <div class="contenedor">
    <div class="input-contenedor">
        
        <p >Usuario</p>
        <input type="text" placeholder="Nombre completo">
    </div>
     <div class="input-contenedor">
        <p >Contraseña</p>
        <input type="password" placeholder="contraseña">
    </div>
    <div>
        <input type="submit" value="Ingresar" class="button">
    </div>

     </div>

 </form>   

    


</body>
    
</form>
